{% extends "admin/layouts/partials/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/graficacion.css' %}">
{% endblock head %}
{% block container %}

    <div id="chart" class="graph-container">{{ grafico_general|safe }}</div>

    <input type="text" id="producto-input" class="fieldx2" placeholder="Buscar producto...">
    <div id="producto-lista"></div>
    <div id="producto-info" style="display: none;"></div>
    <input type="hidden" id="producto-id" name="producto_id">
    <div id="graph-container" class="graph-container"></div>


{% endblock container %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
    <script src="{% static 'admin/js/plotly.js' %}"></script>
    <script src="{% static 'admin/js/graficacion.js' %}"></script>
{% endblock script %}