
{% extends "admin/layouts/partials/base.html" %}
{% load static %}
{% block title %}Administrador{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/graficacion.css' %}">
{% endblock head %}
{% block container %}

    <div id="chart" class="chart" >
                
    </div>  



{% endblock container %}
{% block script %}
    {#apache Echarts es con que realizo las graficaciones#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
    <script src="{% static 'admin/js/graficacion.js' %}"></script>
{% endblock script %}